
.headerGrid{
    width: 100%;
    position: sticky;
    top: 0%;
    background-color: rgba(42, 42, 42, 0.793);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.875rem, 1.25rem,1.25rem,1.25rem;
    .headerGrid-logo{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: start;
        a{
            justify-self: start;
            align-self: center;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            img{
                width: 30px;
                height: 30px;
            }
            p{
                font-size: 1rem;
                font-weight: bold;
                background: linear-gradient(to right, rgb(255, 174, 0),rgb(255, 255, 255));
                -webkit-background-clip: text;
                color: transparent;  
            }   
        }
    }
    .headerGrid-busqueda{
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            height: 20px;
        }
        img{
            height: 16px;
            width: 16px;
            margin: 2px;
        }
        a{  
            text-decoration: none;
            color: white;
        }
    }
    .headerGrid-ingresar{
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 4px;
        a{
            text-decoration: none;
            color: map-get($color , textoHeader );
        }
        div{
            width: 25px;
            height: 25px;
            margin-right: 20px;
            border-radius: 50px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        p{
            margin-right: 10px;
            color:rgb(155, 150, 150)
        }
    }
    .headerGrid-nav{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        justify-content: start;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            margin-left:10px;
            margin-bottom:5px;
            gap: 20px;
            li{
                a{
                    text-decoration: none;
                    color: map-get($color , textoHeader );
                }
            }
        }
    }
    .headerGrid-ubicacionCarrito{
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;
        justify-content: end;
        gap: 15px;
        margin-bottom:5px;
        div{
            display: flex;
            gap: 5px;
            margin-right: 10px;
            color: map-get($color , textoHeader );
            &:nth-child(1) img{
                width: 1rem;
                height: 1rem;
                background-color: orange;
            }
            &:nth-child(2) img{
                width: 1rem;
                height: 1rem;
            }
        }
        
    }
    .headerGrid-categorias{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .headerGrid-filtrar{
        grid-column: 1/4;
        grid-row: 4/5;
    }
}